# Entorno virtual
.venv/
venv/
__pycache__

# Variables de entorno
.env

# Base de datos SQLite
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db 
quacktrack-ia-694b93fe55da.json